body {
  background:rgb(81,160,213);
}
.page-content{
  display: flex;
  align-items: center;
  width: 51vw;
  background: white;
  margin: 9rem auto;
  border-radius: 5px;
}

.mobile,
.desktop,
.tv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17vw;
  height: 40vh;
  text-align: center;
  padding-top: 1rem;
}

.mobile:hover,
.desktop:hover,
.tv:hover{
  background-color: #e8e4c9;
  /* padding: .2rem; */
  border-radius: 5px;
  cursor: pointer;
}

.price {
  display: flex;
  align-items: center;
}