body {
  background: url(../media/background1-5.jpg);
  background-size: cover;
}

.page {
  background: white;
  width: 30vw;
  height: 70vh;
  margin: 5rem auto;
}

.fra,
.ams{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}